@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ececec;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-qwitcher {
  font-family: "Qwitcher Grypen", cursive;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
.embla {
  position: relative;
}
.embla__container {
  will-change: transform;
}
.embla__slide {
  box-sizing: border-box;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.12);
  border-radius: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.47);
}
.hero-glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.12);
  border-radius: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.47);
}

.glass-sm {
}
@media (max-width: 640px) {
  .hero-glass {
    display: contents;
  }
  .glass-sm {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.47);
  }
}
.sm-none {
}
@media (max-width: 640px) {
  .sm-none {
    display: none;
  }
}

.button {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid oklch(55.4% 0.135 66.442);
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
}

.button:hover {
  background: oklch(55.4% 0.135 66.442);
  color: white;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 10px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}
.swiper-slide {
  width: 100px;
}
